@import "../styles/utils";

$bgColor: #ffedf4;
$fontColor: #ec96b7;
$transitionTime: 2s;

@keyframes float {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(pxToRem(50));
  
  }
  to {
    transform: translateY(0);
  
  }
}

.page {
  height: 100vh;
  background: $bgColor;
  text-align: center;
  
  perspective: 400px;
  transform-style: preserve-3d;
  
  
  &.entering {
    
    .wrapper {
      transform: translateY(pxToRem(120)) translateZ(401px);
      opacity: 0;
    }
    
    .dark-side {
      opacity: 1;
    }
  }
}

.wrapper {
  transform: translateY(0) translateZ(0);
  transition: transform $transitionTime, opacity $transitionTime .4s;
}

.dark-side {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

.tree {
  margin-top: pxToRem(200);
  width: pxToRem(800);
  
  animation: float 8s infinite;
}

.btn-start {
  display: inline-block;
  
  margin-top: pxToRem(180);
  width: pxToRem(418);
  height: pxToRem(114);
  line-height: pxToRem(106);
  border: pxToRem(6) solid $fontColor;
  border-radius: pxToRem(100);
  
  font-size: pxToRem(70);
  color: $fontColor;
}